
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* body */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/*  hero section */
.hero {
    background-image: url('download.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #524b47;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #c2aaa2;
}

/* conatiner sections */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/*  features section */
.features {
    background-color: #fff;
    padding: 60px 0;
}

.feature {
    margin-bottom: 30px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.feature p {
    font-size: 16px;
    color: #555;
    text-align: center;
}


/*  price section */
.pricing {
    background-color: #f4f4f4;
    padding: 60px 0;
}

.pricing-plan {
    text-align: center;
    margin-bottom: 20px;
}

.price {
    font-size: 28px;
    color: #0e1ac9;
}
/* Contact */
.contact {
    background-color: #333;
    color: #fff;
    padding: 60px 0;
    display: flex;
    text-align: center;
}


/*  footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}
